[wordpress]
user = wordpress
group = wordpress
listen = {{ php_fpm_run_path}}/php-fpm-wordpress.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660
 
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

php_value[upload_max_filesize] = 1024M
php_value[post_max_size] = 1024M
php_value[file_uploads] = On
php_value[memory_limit] = 256M
php_value[max_execution_time] = 600
php_value[max_input_time] = 600
