# {{ ansible_managed }}

server {

    listen 80;
	listen [::]:80;

    server_name {{ virtual_domain_name }};

    return 301 https://$server_name$request_uri;
}

server {

    listen 443 ssl http2;
	listen [::]:443 ssl http2;

    server_name {{ virtual_domain_name }};

{% for ld in letsencrypt_domains %}
{% if virtual_domain_name in letsencrypt_domains[ld] %}
    ssl_certificate /etc/letsencrypt/live/{{ ld }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ld }}/privkey.pem;
{% endif %}
{% endfor %}

	root /var/www/{{ virtual_domain_name }};
	index index.html index.htm index.php;

    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Robots-Tag none;
    add_header X-Download-Options noopen;
    add_header X-Permitted-Cross-Domain-Policies none;

    client_max_body_size 512M;

	# applies to everything
	location ~* /app/uploads/.*\.php$ {
        deny all;
	}

	location / {
        try_files $uri $uri/ /index.php?$args;
	}

	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:{{ php_fpm_run_path}}/php-fpm-wordpress.sock;
        fastcgi_param HTTPS on;
	}

	location ~ /\.ht {
		deny all;
	}
}

